[build]
  publish = "dist"
  command = "npm run build"

[dev]
  command = "vite"
  targetPort = 3000
  port = 8888

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  directory = "netlify/functions"